# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# IDE
.vscode/
.idea/

# Dataset lokal
data/*.csv
data/*.xlsx
data/*.zip
!data/employee_attrition_preprocessed.csv
!data/README.md

# Output hasil program
outputs/
